.layoutWrap {
    min-height: 100vh!important;
}
.logo {
    height: 32px;
    background: rgba(255, 255, 255, .2);
    margin: 16px;
}
.contentWrap{
    margin: 0 16px;
}
.contentBox{
    height: calc(100% - 48px);
    padding: 16px;
    background: #fff;
}
.footerWrap.ant-layout-footer {
    padding: 14px;
    text-align: center;
}