.App {
  text-align: center;
  background: red;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header .ant-btn-primary{
  background-color: #0c1014 !important;
}

.App-body{
  height: 50vh;
}

.App-link {
  color: #61dafb;
}

.ant-drawer-content-wrapper {
  right: 20px !important;
  bottom: 20px !important;
  height: calc(100% - 50vh - 20px) !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
